html {
scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #533738;
}

.container {
    margin: 0 auto;
    width: 1400px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

h2 {
    margin: 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;  
}

/* Блок header */

.main-header {
    margin: 0;
    min-height: 677px;
    min-width: 1400px;
    background: #EFE6E4 url("img/background.png") no-repeat center center;
    background-size: cover;
}

.main-header .container {
    padding: 38px 115px 0px 100px;
}

.header-top {
    display: grid;
    grid-template-columns: 115px 1fr 150px;
    align-items: center;
    gap: 35px;
    font-size: 16px;
    line-height: 19.5px;
}

.logo {
    margin: 0;
    padding-left: 25px;
    background: url("img/logo.png") no-repeat left center;
}

.main-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
}

.main-menu a,
.phone a {
    text-decoration: none;
    color: #533738;
}

.main-menu a:visited,
.phone a:visited {
    text-decoration: none;
    color: #533738;
}

.main-menu a:hover,
.phone a:hover {
    color: #CC8B86;
    border-bottom: 1px solid #CC8B86;
} 




/* Промо блок */

.promo {
    width: 535px;
    margin: 0;
    margin-top: 95px;
    padding-left: 85px;
}

.promo h2 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    text-transform: none;
}

.promo  p {
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;
}

.btn {
    display: block;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 24px;
    width: 309px;

    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #533738;

    background-color: #CC8B86;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: #533738; 
    color: #CC8B86;
}


/* Основное содержание */

main {
    margin: 0;
    background-color: #EFE6E4;
}


/* Блок О нас */

.about {
    margin: 0;
    min-width: 1400px;
    background-color: #EFE6E4;
}

.about .container {
    padding: 65px 182px 20px 182px;
}

.about h2 {
    margin-bottom: 40px;
    text-align: center;
}

.about-content {
    display: grid;
    grid-template-columns: 445px 1fr;
    gap: 62px;
    font-size: 18px;
    line-height: 30px;
    background-color: #EFE6E4;
}

.about-content-info p {
    margin-top: 30px;
}

.about-content-info p:first-child {
    margin: 0; 
}

.features {
    background-color: #8D7370;
    color: #ffffff;
    min-width: 1400px;
}

.features .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 85px 180px 80px 182px;
}

.features-item {
    margin: 0;
    font-size: 30px;
    line-height: 37px;
    font-weight: 500;
    text-align: center;
}

.features-item span {
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
}


/* Блок портфолио */

.portfolio {
    margin: 0;
    min-width: 1400px;
    text-align: center;
    background-color: #EFE6E4;
}

.portfolio .container {
    padding: 65px 100px;
}

.portfolio h2 {
    margin-bottom: 40px;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 40px;
}

.portfolio-item {
    margin: 0;
}

.portfolio-item .detalis {
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 35px;
    padding-top: 86px;
    background: rgba(100, 72, 69, 0.8);
}

.portfolio-item:hover .detalis{
    display: block;
}

.portfolio-item h3,
.portfolio-item p {
    margin: 0;
    display: none;
    color: #ffffff;
}

.portfolio-item h3 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 500; 
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-item p {
    text-align: left;
}

.portfolio-item:hover h3,
.portfolio-item:hover p {
    display: block;   
}

.bedroom {
    width: 488px;
    height: 451px;
    background: url("img/image-55.png") no-repeat;
}
.kitchen {
    width: 692px;
    height: 451px;
    background: url("img/Rectangle-134.png") no-repeat;
}

.lounge {
    width: 692px;
    height: 451px;
    background: url("img/Rectangle-132.png") no-repeat;
}

.bathroom {
    width: 488px;
    height: 451px;
    background: url("img/image-56.png") no-repeat;
}

.portfolio .next-items {
    display: block;
    font-size: 30px;
    line-height: 37px;
    font-weight: 500;
    text-decoration: none;
    color: #533738;
    text-align: center;
}

.portfolio .next-items::after {
    content: url("img/Arrow-3.png");
    width: 61px;
    height: 16px;
    margin-left: 10px;
}

.portfolio .next-items:hover {
    color: #8D7370;
}


/* Блок команда */

.team {
    margin: 0;
    background-color: #E2C4BA;
    min-width: 1400px;
}

.team .container {
    padding: 50px 181px;
}

.team h2 {
    text-align: center;
    margin-bottom: 42px;
}

.team-items {
    display: flex;
    justify-content: space-between;
}

.team-item {
    width: 320px;
    margin: 0;
}

.team-item p {
    margin: 0;
    margin-top: 5px;
}



/* Блок как мы работаем */

.about-work {
    margin: 0;
    min-width: 1400px;
    background-color: #E2C4BA;
}

.about-work .container {
    padding: 0px 100px 80px 100px;
}

.about-work h2 {
    text-align: center;
    margin-bottom: 130px;
}

.about-work-items {
    display: flex;
    justify-content: space-between;
}

.about-work-item {
    width: 285px;
    text-align: center;
    position: relative;
}

.about-work-item::before {
    content: "";
    position: absolute;
    top: -80px;
    left: 110px;
    padding: 20px;
    width: 30px;
    height: 30px;
    
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    color: #ffffff;
    
    background-color: #8D7370;
    border-radius: 50%;
}

.about-work-item:first-of-type::before {
    content: "1";
}

.about-work-item:nth-of-type(2)::before {
    content: "2";
}

.about-work-item:nth-of-type(3)::before {
    content: "3";
}

.about-work-item:nth-of-type(4)::before {
    content: "4";
}




/* Блок отзывы */

.feedback {
    margin: 0;
    min-width: 1400px;
    background-color: #EFE6E4;
}

.feedback .container {
    padding: 65px 283px;
}

.feedback h2 {
    text-align: center;
    margin-bottom: 40px;
}

.feedback-nav {
    position: relative;
}

.feedback-nav .prev {
    position: absolute;
    left: -101px;
    top: 235px;
    display: block;
    width: 32px;
    height: 10px;
    padding: 30px 20px;
    background: #CC8B86 url("img/Arrow-1.png") no-repeat 50% 50%;
    border-radius: 50%;
    outline: none;
}

.feedback-nav .next {
    position: absolute;
    right: -101px;
    top: 235px;
    display: block;
    width: 32px;
    height: 10px;
    padding: 30px 20px;
    background: #CC8B86 url("img/Arrow-2.png") no-repeat 50% 50%;
    border-radius: 50%;
    outline: none;
}

.feedback-nav .prev:hover,
.feedback-nav .next:hover {
    background-color: #533738;
} 

.feedback-item {
    display: grid;
    grid-template-columns: 407px 407px;
    gap: 20px;
    align-items: center;
}

.feedback-item-content p {
    margin-bottom: 35px;
}

.feedback-item-content .autor {
    text-transform: uppercase;
}

.feedback-item-images img:first-of-type {
    margin-bottom: 15px;
}



/* Блок контакты */

.contacts {
    background-color: #8D7370;
    min-width: 1400px;
}

.contacts .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 181px;
    padding-right: 100px;
}

.contacts-info {
    width: 508px;
}

.contacts-info h2 {
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 24px;
}

.contacts-info p {
    color: rgba(255, 255, 255, 0.6);
}

.contacts-info input[type="text"],
.contacts-info input[type="tel"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: #8D7370;
    padding-top: 35px;
    padding-bottom: 10px;
    width: 508px;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.contacts-info input[type="text"]::placeholder,
.contacts-info input[type="tel"]::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #F6EDE9;
}

.contacts-info .btn {
    margin-top: 30px;
}

.contacts-info .btn:hover {
    cursor: pointer;
}

/* .map {
    width: 590px;
    height: 624px;
    background: url("img/image-54.png") no-repeat;
} */



/* Блок Футер */

.main-footer {
    min-width: 1400px;
    background-color: #EFE6E4;
}

.main-footer .container {
    padding: 37px 100px;
    display: flex;
    justify-content: space-between;
}

.main-footer a {
    text-decoration: none;
    color: #533738;
    margin-right: 42px;
}

